@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter-variable.ttf');
}

:root {
    --darkred: #FE8F34;
    --lightred: #1A3352;
    --loginTextColor: #EAEBEE;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    color: #313131;
    background-color: #F8F8F8;
}

.btn-primary {
    background-color: var(--darkred);
    color: var(--lightred);
    border: none;
    opacity: 0.9;
    font-weight: bold;
}

    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show > .btn-primary.dropdown-toggle,
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        background-color: var(--darkred);
        color: var(--lightred);
        opacity: 1;
    }

    .btn-primary.inverted {
        color: var(--darkred);
        background-color: var(--lightred);
        border: none;
        opacity: 0.9;
        font-weight: bold;
    }

        .btn-primary.inverted:not(:disabled):not(.disabled).active,
        .btn-primary.inverted:not(:disabled):not(.disabled):active,
        .show > .btn-primary.inverted.dropdown-toggle,
        .btn-primary.inverted:hover,
        .btn-primary.inverted:focus,
        .btn-primary.inverted:active {
            color: var(--darkred);
            background-color: var(--lightred);
            opacity: 1;
        }

header {
    background: var(--darkred);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

    header #logo {
        width: 45px;
        height: 45px;
    }

        header #logo img {
            border-radius: 30px;
        }

    header #user {
        width: 45px;
        height: 45px;
    }

#LoginHeader {
    height: 10vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

#LogoContainer {
    width: 100px;
    height: 100px;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: var(--darkred);
    display: flex;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}

    #LogoContainer #Logo {
        width: 90px;
        height: 90px;
        align-content: center;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background: var(--lightred);
        display: flex;
    }

        #LogoContainer #Logo img {
            width: 97px !important;
            height: 97px !important;
            border-radius: 16px;
        }

.Login > header {
    display: none;
}

.Login > .container {
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
}

#LoginForm{
    padding: 30px;
    font-weight: 600;
    background-color: var(--lightred);
}

    #LoginForm label {
        position: relative;
        font-size: 15px;
        font-family: sans-serif;
        -webkit-font-smoothing: none;
    }

    #LoginForm .form-group {
        background: none;
    }

    #LoginForm input,
    #LoginForm .btn {
        border-radius: 8px;
        padding: 12px 12px;
        height: 48px;
        font-weight: 600;
    }

    #LoginForm .btn {
        margin-top: 15px;
        padding: 0 !important;
        color: #fff;
        background-color: #ff8f34;
    }

    #LoginForm label {
        color: var(--loginTextColor);
    }

.SelectLangForm .btn {
    color: #fff !important;
    background-color: #ff8f34 !important;
    height:38px;
    padding:0 !important;

}
.SelectLangForm #selectlang-list{
    appearance:auto !important;
}
@media only screen and (min-width: 1224px) {
    #LoginForm {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
    }
}

.red-col {
    padding: 0px;
    background-color: var(--lightred);
}

body {
    background-color: #F8F8F8;
}

.BodyMainContainer {
    overflow-x: hidden;
}

#apps {
    background: #e8e8e8;
}

    #apps.beta {
        background: repeating-linear-gradient(135deg, #F8F8F8 0px, #F8F8F8 15px, #f2f2f2 15px, #f2f2f2 40px);
    }

    #apps.live {
        background: #e8e8e8;
    }

    #apps .app {
        text-decoration: none;
        color: #313131;
        padding: 10px 0;
        border-bottom: 1px solid #e8e8e8;
        display: flex;
    }

        #apps .app .icon {
            width: 80px;
        }

            #apps .app .icon img {
                max-width: 50px;
            }

        #apps .app .content {
            flex: 1;
            text-align: left;
        }

            #apps .app .content p {
                margin: 0;
                padding: 0;
            }

            #apps .app .content .name {
                font-weight: 700;
                font-size: 16px;
            }

            #apps .app .content .date {
                font-weight: 400;
                color: #7B7B7B;
                font-size: 13px;
            }

        #apps .app .arrow {
            width: 40px;
        }

            #apps .app .arrow img {
                max-width: 30px;
                fill: #7B7B7B;
                opacity: 0.5;
                margin-top: 8px;
            }

.Apps #publish-type-tabs {
    margin-top: 20px;
}

    .Apps #publish-type-tabs.btn-group > .Apps #publish-type-tabs.btn-group:not(:last-child) > .btn,
    .Apps #publish-type-tabs.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .Apps #publish-type-tabs.btn-group > .btn-group:not(:first-child) > .btn,
    .Apps #publish-type-tabs.btn-group > .btn:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .Apps #publish-type-tabs button {
        border-radius: 9px;
        width: 87px;
        background: #fff;
        color: #939393;
        border-color: var(--darkred);
        box-shadow: none;
    }

        .Apps #publish-type-tabs button.active {
            /*background: var(--light-red);*/
            color: black;
            font-weight: bold;
        }

.Apps #available-apps-header {
    padding-top: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 0.8em;
    margin-top: 10px;
    padding-left: 10px;
}

    .Apps #available-apps-header #refresh,
    .Apps #available-apps-header #refresh:visited {
        color: #6B6B6B;
        text-decoration: none;
        font-size: 1em;
    }

        .Apps #available-apps-header #refresh:hover {
            color: #3c3c3c;
        }

.Apps #device-switch-warning {
    padding-top: 12px;
    text-align: center;
    font-weight: 400;
    font-size: 0.8em;
}

.text-red {
    text-align: center;
    color: red;
}

.fs-m {
    font-size: x-large;
}

.p-0 {
    padding: 0px;
}

.img-notfound {
    padding: 150px 50px 20px 50px;
}

.p-notfound {
    color: gray;
    padding-bottom: 10%;
}

body {
    background-color: #F8F8F8;
}

.AppDetail {
    /*background-color: #EAEBEF;*/
}

    .AppDetail h2 {
        font-size: 16px;
        font-weight: 600;
    }

    .AppDetail #app-content {
        font-size: 0.9em;
        font-weight: 500;
    }

        .AppDetail #app-content > .row {
            margin-bottom: 15px;
        }

            .AppDetail #app-content > .row > div:last-child {
                font-weight: 600;
                text-align: right;
            }

            .AppDetail #app-content > .row > div:first-child {
                opacity: 0.5;
            }

    .AppDetail #app-header {
        padding: 20px 0 20px 0;
        display: flex;
    }

        .AppDetail #app-header .icon {
            width: 100px;
        }

            .AppDetail #app-header .icon img {
                max-width: 80px;
                border-radius: 15px;
            }

        .AppDetail #app-header .content {
            flex: 1;
            text-align: left;
        }

            .AppDetail #app-header .content p {
                margin: 0;
                padding: 0;
            }

            .AppDetail #app-header .content .name {
                font-weight: 600;
            }

            .AppDetail #app-header .content .version {
                font-weight: 400;
                font-size: 0.7em;
                color: #7B7B7B;
            }

        .AppDetail #app-header #install {
            background-color: rgba(0, 200, 8, 0.5);
            font-weight: 600;
            color: #1e1e1e;
            padding: 5px 15px;
            font-size: 0.9em;
            margin-top: 7px;
        }

    .AppDetail .textGradient {
        -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
        height: 60px;
    }

    .AppDetail .read-more {
        color: black;
        text-decoration: none;
    }

        .AppDetail .read-more .plus {
            font-size: 20px;
        }

.bgc-white {
    background-color: #F8F8F8;
}

[v-cloak] {
    display: none;
}

#logout-icon {
    fill: #d1d1d1;
}

#header-back-icon {
    fill: #d1d1d1;
}

button#refresh {
    border: none;
    background-color: transparent !important;
    font-size: 1em;
    font-weight: 600;
    color: #6B6B6B;
}

    button#refresh:hover {
        color: #414141;
    }


#installed {
    display: none;
}

#lang-select, #lang-select :visited {
    color: #d1d1d1;
    font-size: 12px;
    text-decoration: none;
    margin-right: 5px;
}

    #lang-select :hover {
        color: #adadad;
    }


/*.btn-check:focus + .btn-primary, .btn-primary:focus, .btn-primary:hover {
    color: #cacaca;
}*/

.StoreTitle {
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    top: 140px;
    opacity: 0.8;
    color: var(--loginTextColor);
    font-weight: bold;
}

.headerStoreTitle {
    margin-right: 16px;
    padding-left: 25px;
    opacity: 0.7;
    font-size: 0.8em;
}


@media (min-width:768px) {
    .StoreTitle {
        display: none;
    }
}

@media (max-width:768px) {

    .headerStoreTitle {
        padding-left: 10px;
    }
}
