@font-face {
  font-family: HelveticaNeue-Medium;
  src: url("../fonts/HelveticaNeue-Medium.woff") format("woff");
}
@font-face {
  font-family: HelveticaNeue-Bold;
  src: url("../fonts/HelveticaNeue-Bold.ttf");
}
@font-face {
  font-family: HelveticaNeue;
  src: url("../fonts/HelveticaNeue.ttf");
}
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  outline: none;
  border: none;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

body {
  background-color: #172b44;
  font-family: "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.page {
  max-width: 70em;
  margin: 0 auto;
  padding-bottom: 40px;
}

.content-margins {
  margin: 10px;
  margin: 20px;
}

.primary {
  float: left;
  width: 100%;
  display: inline;
  zoom: 1;
}
.page-summary {
  width: 100%;
  padding: 0.1em 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.page-summary h1 {
  font-family: HelveticaNeue-Bold;
  font-size: 1.32rem;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  padding-bottom: 10px;
}
.page-summary h2 {
  font-family: HelveticaNeue-Medium;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.logo-box {
  width: 158px;
  height: 158px;
  border: dashed 1px #5b799e;
  border-radius: 30px;
  position: relative;
  margin: 0 0 2em 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.logo-box:before, .logo-box:after {
  content: "";
  position: absolute;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.logo-box:before {
  width: 20px;
  height: 20px;
  border: dashed 1px #5b799e;
  bottom: -11px;
  left: 67px;
}
.logo-box:after {
  width: 24px;
  height: 24px;
  background-color: #172b44;
  bottom: -9px;
  left: 65px;
}

.logo-container {
  width: 118px;
  height: 118px;
  border-radius: 20px;
  background-color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.logo-container img {
  max-width: 50%;
}

.sf-header {
  width: 100%;
  padding: 50px 0px 50px 10px;
}
.sf-header.narrow {
  padding: 20px 0px 20px 10px;
}
.sf-header img {
  max-height: 35px;
  margin-bottom: 5px;
}
.sf-header .title {
  display: block;
  font-family: HelveticaNeue-Medium;
  font-size: 1.32rem;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.03px;
  text-align: center;
  color: #a2aab4;
  text-align: left;
}

.page-sub-link {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  color: white;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.03px;
  text-align: center;
  font-family: HelveticaNeue-Medium;
}
.page-sub-link a {
  color: #ff8f34;
  text-decoration: underline;
  padding-left: 5px;
}

.page-form {
  width: 100%;
  margin-top: 40px;
}
.page-form span.form-title {
  display: block;
  font-family: HelveticaNeue-Medium;
  color: white;
  padding-left: 10px;
  padding-bottom: 10px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.02px;
}

.form-group {
  display: block;
  position: relative;
  height: 50px;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  z-index: 1;
}
.form-group label {
  z-index: -1;
}

.input-group:not(.single) div.form-group {
  border-radius: 0px;
}
.input-group:not(.single) div.form-group:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 1px;
}
.input-group:not(.single) div.form-group:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 1px;
}

.form-field {
  font-family: HelveticaNeue-Bold;
  width: 100%;
  border: 0;
  outline: 0;
  color: #1a3352;
  font-size: 1.13rem;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.17px;
  padding: 14px 10px 0px;
  background: transparent;
  height: 50px;
  z-index: 2;
}

.form-field::placeholder {
  color: transparent;
}

.form-field:placeholder-shown ~ .form-label {
  font-size: 1.13rem;
  cursor: text;
  top: 18px;
  left: 10px;
}

label, .form-field:focus ~ .form-label {
  position: absolute;
  top: 8px;
  left: 10px;
  display: block;
  transition: 0.2s;
  font-size: 0.8rem;
  color: #b2c3d9;
  font-family: HelveticaNeue-Medium;
  z-index: 1;
}

.form-field:focus ~ .form-label {
  color: #b2c3d9;
}

.form-field:focus {
  padding-bottom: 0px;
}

.form-button {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #ff8f34;
  font-family: HelveticaNeue-Bold;
  color: white;
  font-size: 1.13rem;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.17px;
  margin: 20px 0px;
}

.form-warning {
  width: 100%;
  font-size: 0.93rem;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.03px;
  color: #a2aab4;
  font-family: HelveticaNeue-Medium;
  margin-top: 20px;
}
.form-warning a {
  display: block;
  color: white;
  text-decoration: underline;
}

.release-notes {
  width: 100%;
  background-color: white;
  border-radius: 5px;
}
.release-notes .download {
  width: 100%;
  padding: 14px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border-bottom: 1px solid #172b44;
}
.release-notes .download small {
  font-family: HelveticaNeue-Medium;
  font-size: 0.93rem;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.14px;
  color: #b2c3d9;
  text-transform: uppercase;
}
.release-notes .download span {
  display: block;
  font-family: HelveticaNeue-Medium;
  font-size: 1.13rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.17px;
  color: #1a3352;
}
.release-notes .download .dload-button {
  height: 40px;
  border-radius: 5px;
  padding: 0px 14px;
  background-color: #ff8f34;
  font-family: HelveticaNeue-Bold;
  color: white;
  font-size: 1.13rem;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.17px;
}
.release-notes .notes {
  padding: 24px 14px;
  color: #515d66;
  font-size: 14px;
}
.release-notes .notes .release-notes-title {
  font-family: HelveticaNeue-Medium;
  font-size: 1.13rem;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  color: #1a3352;
}
.release-notes .notes p {
  padding: 15px 0px 15px 15px;
}
.release-notes .notes ul {
  list-style: disc;
  padding-left: 15px;
}
.release-notes .notes ul li:not(:last-child) {
  padding-bottom: 15px;
}

.previous-versions-list {
  width: 100%;
  margin-top: 40px;
}
.previous-versions-list .title {
  display: block;
  font-family: HelveticaNeue-Medium;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.02px;
  padding-bottom: 8px;
  padding-left: 10px;
}
.previous-versions-list ul {
  width: 100%;
}
.previous-versions-list ul li {
  width: 100%;
  padding: 1px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 70px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #5b799e;
}
.previous-versions-list ul li small {
  font-family: HelveticaNeue-Medium;
  font-size: 0.93rem;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.14px;
  color: #b2c3d9;
  text-transform: uppercase;
}
.previous-versions-list ul li span {
  display: block;
  font-family: HelveticaNeue-Medium;
  font-size: 1.13rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.17px;
  color: white;
}
.previous-versions-list ul li .dload-button {
  height: 40px;
  border-radius: 5px;
  padding: 0px 14px;
  border: 1px solid white;
  background-color: transparent;
  font-family: HelveticaNeue-Bold;
  color: white;
  font-size: 1.13rem;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.17px;
}
.previous-versions-list ul li:not(:last-child) {
  margin-bottom: 10px;
}
.previous-versions-list .show-more {
  display: block;
  width: 100%;
  padding: 10px 0px;
  margin-top: 20px;
  font-family: HelveticaNeue-Medium;
  color: white;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.02px;
  text-decoration: underline;
  text-align: center;
}

.app-list {
  width: 100%;
}
.app-list ul {
  width: 100%;
}
.app-list ul li {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  height: 75px;
  padding: 0px 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.app-list ul li .brand-logo {
  width: 60px;
  height: 60px;
  border-radius: 7px;
  border: solid 0.5px #979797;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-right: 10px;
}
.app-list ul li .brand-logo img {
  max-width: 50%;
}
.app-list ul li span {
  font-family: HelveticaNeue-Medium;
  font-size: 1.13rem;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.17px;
  color: #1a3352;
}
.app-list ul li small {
  display: block;
  font-size: 0.93rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.14px;
  color: #b2c3d9;
}
.app-list ul li:not(:last-child) {
  margin-bottom: 10px;
}

/*# sourceMappingURL=all-old-ie.css.map */
